<h1>Add a new Vendor</h1>

<form action="/vendors" method="post">
  <label for="inputName">Vendor Name</label>
  <input id="inputName" name="inputName" type="text">
  <label for="inputDescription">Vendor Description</label>
  <input id="inputDescription" name="inputDescription" type="text">
  <button type='submit'>Add Vendor</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/vendor">Back to Vendor List.</a></p>