@{
  Layout = "_Layout";
}

@using Store.Models;

<h2>Vendor Name: </h2>
<h3>@Model["vendor"].Name</h3>
<h2>Vendor Description:</h3>
<h4>@Model["vendor"].Description</h4>
<h2>Orders:</h3>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li>
      <a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a>
      <form action='/vendors/@Model["vendor"].Id/orders/@order.Id/delete' method="post"><button type="submit">x</button>
      </form>
    </li>
  }
</ol>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get"><button type="submit">Add a new order</button></form>
<form action='/vendors/@Model["vendor"].Id/orders/delete' method="post"><button type="submit">Delete All Orders</button>
</form>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>

